* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

header {
  background-color: rgba(49, 226, 43, 0.733);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  color: #000;
  margin: 30px;
  text-decoration: none;
}

.contact {
  color: rgb(255, 94, 0);
  background-color: darkmagenta;
  padding: 20px 30px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.4s;
}

.contact:hover {
  background-color: darkorange;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background-color: darkmagenta;
  color: rgb(255, 94, 0);
  padding: 20px 30px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  transition: 0.4s;
}
button:hover {
  background-color: darkorange;
}

main {
  background-image: url(gora.jpg);
  background-size: cover;
  min-height: 110vh;
  color: cornsilk;
  text-align: center;
  padding-top: 70px;
}

h1 {
  margin: 0;
  font-size: 70px;
}
aside {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
div {
  border: blueviolet 2px solid;
  width: 30%;
  padding: 20px;
  text-align: center;
  background-color: rgb(236, 230, 207);
}
footer {
  color: crimson;
  padding: 40px;
}

@media (max-width: 500px) {
  header {
    display: block;
  }

  header a {
    display: inline-block;
  }
  h1 {
    font-size: 50px;
  }
  aside {
    display: block;
  }
  div {
    width: 90%;
    margin: 10px auto;
  }
  img {
    max-width: 100%;
  }
}
